@model IEnumerable<NoticeBoard>
@{
    ViewData["Title"] = "Index";
    int count = Model.Count();
}



<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-title"> NoticeBoard Table List</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table tablesorter " id="">
                            <thead class=" text-primary">
                                <tr class="text-center">
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        NoticeTime
                                    </th>

                                    <th>
                                        Settings
                                    </th>
                                </tr>
                            </thead>
                            <tbody>


                                @foreach (var item in Model)
                                {
                                    <tr class="text-center">
                                        <td>
                                            @if (item.Title == null)
                                            {
                                                <span class="text-danger">There is no Title</span>
                                            }
                                            else
                                            {
                                                @Html.Raw(item.Title)
                                               
                                            }


                                        </td>
                                        <td>
                                            @Html.Raw(item.Description)
                                           
                                        </td>
                                        <td>
                                           @Html.Raw(item.NoticeTime)
                                        </td>

                                        <td>
                                            @if (count > 1)
                                            {
                                                <a class="btn btn-primary ml-5 noticedeletebtn " id="@item.Id">Delete </a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-primary ml-5 noticedeletebtn d-none">Delete </a>

                                            }

                                            <a class="btn btn-primary my-1 mr-3 float-right" asp-controller="NoticeBoard" asp-action="Update" asp-area="AdminPanel" asp-route-id="@item.Id"> Update </a>


                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                        <a class="btn btn-primary my-1 float-right" asp-controller="NoticeBoard" asp-action="Create" asp-area="AdminPanel"> Create </a>
                        <a class="btn btn-primary mx-3 float-right" asp-controller="DashBoard" asp-action="Index" asp-area="AdminPanel"> Back </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@section Script{
  
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>

        $(document).on("click", ".noticedeletebtn", function () {
            let Id = $(this).attr("Id");
            let self = $(this);


            swal("Are You Sure Deleted ?", {
                dangerMode: true,
                buttons: true,


            }).then(buttons => {
                if (buttons) {


                    $.ajax({

                        url: "/AdminPanel/NoticeBoard/Delete?Id=" + Id,
                        type: "Get",
                        success: function (res) {

                            self.parent().parent().remove()



                        }

                    })
                }
            }
            );


        })

    </script>
}



