@model UserVm
@{
    ViewData["Title"] = "ChangeRole";
}

    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header">
                        <h4 class="card-title"> User Table List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table tablesorter " id="">
                                <thead class=" text-primary">
                                    <tr class="text-center">
                                        <th>
                                            FullName
                                        </th>
                                        <th>
                                            UserName
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            UserPosition
                                        </th>
                                        <th>
                                            IsActivited
                                        </th>
                                        <th>
                                            Role
                                        </th>
                                       
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr class="text-center">
                                        <td>
                                            @Model.Fullname

                                        </td>
                                        <td>
                                            @Model.Username
                                        </td>
                                        <td>
                                            @Model.Email
                                        </td>
                                        <td>
                                            @Model.UserPosition
                                        </td>
                                        <td>
                                            @Model.IsActivited
                                        </td>
                                        <td>
                                        <form method="post">
                                           
                                                @foreach (string item in Model.Roles)
                                                {
                                                    if (item == Model.Role)
                                                    {
                                                        <input type="radio" class="mx-1" name="Role" value="@item" checked />@item
                                                    }
                                                    else
                                                    {
                                                        <input type="radio" class="mx-1" name="Role" value="@item" />@item
                                                    }
                                                }
                                            
                                            
                                            <button type="submit" class="btn btn-primary mt-3 mx-4">Change Role</button>
                                             
                                        </form>
                                           </td>
                                        </tr>
                                </tbody>

                            </table>
                            <a class="btn btn-primary float-right" asp-controller="User" asp-action="Index" asp-area="AdminPanel"> Back </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
