@model Testimonial
@{
    Layout = null;
}

 <div class="testimonial-area pt-110 pb-105 text-center" style=" background: url(~/../img/testimonial/
@Model.BackgroundImage);background-size: cobackground-repeat: no-repeatbackground-position: center center;background-attachment: fixed;position: relative;">
    <div class="row">
        <div class="testimonial-owl owl-theme owl-carousel">
            <div class="col-md-8 col-md-offset-2 col-sm-12">
                <div class="single-testimonial">
                    <div class="testimonial-info">
                        <div class="testimonial-img">
                            <img src="~/img/testimonial/@Model.Image" alt="testimonial">
                        </div>
                        <div class="testimonial-content">
                            <p>@Html.Raw(Model.Description)</p>
                            <h4>@Model.Name @Model.Surname</h4>
                            <h5>@Model.Job, @Model.CourseName</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>