@model HomeVm
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "Index";


}


<!-- Banner Area Start -->
@foreach (var item in ViewBag.Banner)
{
    <div class="banner-area-wrapper" style=" background: rgba(0, 0, 0, 0) url('~/../img/banner/@item.BannerImage') no-repeat scroll center center / cover ;
  position: relative;
  width: 100%;
  z-index: 1;">
        <div class="banner-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="banner-content-wrapper">
                            <div class="banner-content">
                                <h2>@item.BannerTitle</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!-- Banner Area End -->
<!-- Event Start -->
<div class="event-area three text-center pt-150 pb-150">
    <div class="container">
        <div class="row" id="EventList">
            @foreach (var events in Model.NewEvents)
            {


                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-event mb-60">
                        <div class="event-img">
                            <a href="event-details.html">
                                <img src="~/img/event/@events.Image" alt="event">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                            <div class="event-date">
                                <h3> <span style="width:50px !important; font-size: 20px !important;padding-left:15px;font-weight:bold;">@events.EventTime</span></h3>
                            </div>
                        </div>
                        <div class="event-content text-left">
                            <h4><a href="event-details.html">@events.Name</a></h4>
                            <ul>
                                <li><span>time:</span> @events.EventStart- @events.EventFinish</li>
                                <li><span>venue</span>@events.EventPlace</li>
                            </ul>
                            <div class="event-content-right">
                                <a class="default-btn"  asp-controller="Event" asp-action="Detail" asp-route-id="@events.Id">join now</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <input type="hidden" id="Eventcount" value="@ViewBag.EventCount" />
            <div class="col-12">
                <a href="#" class="btn btn-danger mx-auto eventloadmore" style="background-color:rgb(204, 30, 30);font-size:20px;color:white;width:170px;height:50px;padding-top:10px;font-weight:bold;">Load More</a>
            </div>
        </div>
    </div>
</div>
@section Script{
    <script>
        let count = 9;
        $(document).on("click", ".eventloadmore", function (e) {
            let Eventcount = $("#Eventcount").val();

            $.ajax({
                url: "/Event/Load?count=" + count,
                type: "Get",
                success: function (res) {
                    $("#EventList").append(res);

                    count += 9;
                    if (count >= Eventcount) {
                        $(".eventloadmore").remove();
                    }
                }
            })
            e.preventDefault();

        })



    </script>


}
<!-- Event End -->